<p>Receipt</p>
<div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem; color: rgb(0, 0, 0);
    font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal; font-variant-ligatures: normal;
    font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent:
    0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal;
    background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial;
    text-decoration-color: initial;\" class=\"css-s8u2ug-row\">
    <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem; padding-left: 0.75rem;
        flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width: 100%; text-align: right;\"
        class=\"css-1nhh7rf-col\">
        <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
            sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
            class=\"css-151vsl0-text_caption\">
            <p>12/13/2024 12:20:00</p>
        </div>
    </div>
</div>
<div style=\"color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-size: medium; font-style: normal;
    font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2;
    text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width:
    0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial;
    text-decoration-style: initial; text-decoration-color: initial;\" class=\"receipt-info-section\">
    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
        class=\"css-s8u2ug-row\">
        <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem; padding-left:
            0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width: 100%;\" class=\"css-1nhh7rf-col\">
            <hr>
            <div>
                <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                    sans-serif; font-size: 1.125rem; line-height: 1.5rem; font-weight: bold;\"
                    class=\"css-16jt5za-text_body\">
                    <p>Advanced Tax Solutions, LLC</p>
                </div>
                <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                    sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400; white-space: pre;\"
                    class=\"css-151vsl0-text_caption\">
                    <p>1603 Capitol Ave. Suite 310 A254 Cheyenne, WY 82001</p>
                </div>
            </div>
        </div>
    </div>
    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
        class=\"css-s8u2ug-row\">
        <div style=\"position: relative; width: 476.844px; min-height: 1px; padding-right: 0.75rem; padding-left:
            0.75rem; flex: 1 1 0%; max-width: 50%;\" class=\"css-19guwf3-col_sm_12-col_md_6-col_lg_6\">
            <hr>
            <div>
                <div>
                    <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;,
                        Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
                        class=\"css-151vsl0-text_caption\">
                        <p>Transaction ID</p>
                    </div>
                    <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;,
                        Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
                        class=\"css-151vsl0-text_caption\">
                        <p>5A378271GE119954T</p>
                    </div>
                </div>
            </div>
        </div>
        <div style=\"position: relative; width: 524.844px; min-height: 1px; padding-right: 0.75rem; padding-left:
            0.75rem; flex: 0 0 50%; max-width: 50%;\" class=\"css-19guwf3-col_sm_12-col_md_6-col_lg_6\">
            <hr>
            <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
                class=\"css-151vsl0-text_caption\">
                <p>Billing information</p>
            </div>
            <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400; padding-bottom: 7px;\"
                class=\"css-151vsl0-text_caption\">
                <p>Visa&nbsp;•••• •••• •••• 5120</p>
            </div>
            <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
                class=\"css-151vsl0-text_caption\">
                <p>MyTAXPrepOffice Ramirez</p>
            </div>
            <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400; white-space: pre;\"
                class=\"css-151vsl0-text_caption\">
                <p>90023</p>
            </div>
            <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica Neue&quot;, Arial,
                sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;\"
                class=\"css-151vsl0-text_caption\">
                <p>pdpaz@aol.com</p>
            </div>
        </div>
    </div>
    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
        class=\"css-s8u2ug-row\">
        <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem; padding-left:
            0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width: 100%;\" class=\"css-1nhh7rf-col\">
        </div>
    </div>
    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
        class=\"css-s8u2ug-row\">
        <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem; padding-left:
            0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width: 100%;\" class=\"css-1nhh7rf-col\">
            <hr>
            <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
                class=\"css-s8u2ug-row\">
                <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem;
                    padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width: 100%;\"
                    class=\"css-1nhh7rf-col\">
                    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
                        class=\"css-s8u2ug-row\">
                        <div style=\"position: relative; width: 1025.69px; min-height: 1px; padding-right: 0.75rem;
                            padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width:
                            100%;\" class=\"css-1nhh7rf-col\">
                            <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular, &quot;Helvetica
                                Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight:
                                400;\" class=\"css-151vsl0-text_caption\">
                                <p>Order information</p>
                            </div>
                        </div>
                    </div>
                    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
                        class=\"css-s8u2ug-row\">
                        <div style=\"position: relative; width: 476.844px; min-height: 1px; padding-right: 0.75rem;
                            padding-left: 0.75rem; flex: 1 1 0%; max-width: 50%;\"
                            class=\"css-19guwf3-col_sm_12-col_md_6-col_lg_6\">
                            <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica
                                Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem; font-weight:
                                400; float: left; white-space: pre;\" class=\"css-151vsl0-text_caption\">
                                <p>MyTAXPrepOffice Individual Pro Plan Tax Year 2024 Payment 1</p>
                            </div>
                        </div>
                        <div style=\"position: relative; width: 524.844px; min-height: 1px; padding-right: 0.75rem;
                            padding-left: 0.75rem; flex: 0 0 50%; max-width: 50%;\"
                            class=\"css-19guwf3-col_sm_12-col_md_6-col_lg_6\">
                            <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left:
                                -0.75rem;\" class=\"css-s8u2ug-row\" id=\"amount-row\">
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular,
                                        &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height:
                                        1.25rem; font-weight: 400; float: left;\" class=\"css-151vsl0-text_caption\">
                                        <p>Amount</p>
                                    </div>
                                </div>
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica
                                        Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem;
                                        font-weight: 400; float: right;\" class=\"css-151vsl0-text_caption\">
                                        <p>$272.50&nbsp;USD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;\"
                        class=\"css-s8u2ug-row\">
                        <div style=\"position: relative; width: 476.844px; min-height: 1px; padding-right: 0.75rem;
                            padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1; max-width:
                            100%;\" class=\"css-1nhh7rf-col\"></div>
                        <div style=\"position: relative; width: 524.844px; min-height: 1px; padding-right: 0.75rem;
                            padding-left: 0.75rem; flex: 0 0 50%; max-width: 50%;\"
                            class=\"css-19guwf3-col_sm_12-col_md_6-col_lg_6\">
                            <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left:
                                -0.75rem;\" class=\"css-s8u2ug-row\">
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular,
                                        &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height:
                                        1.25rem; font-weight: 400; float: left;\" class=\"css-151vsl0-text_caption\">
                                        <p>Shipping</p>
                                    </div>
                                </div>
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica
                                        Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem;
                                        font-weight: 400; float: right;\" class=\"css-151vsl0-text_caption\">
                                        <p>$0.00&nbsp;USD</p>
                                    </div>
                                </div>
                            </div>
                            <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left:
                                -0.75rem;\" class=\"css-s8u2ug-row\">
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular,
                                        &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height:
                                        1.25rem; font-weight: 400; float: left;\" class=\"css-151vsl0-text_caption\">
                                        <p>Tax</p>
                                    </div>
                                </div>
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica
                                        Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height: 1.25rem;
                                        font-weight: 400; float: right;\" class=\"css-151vsl0-text_caption\">
                                        <p>$0.00&nbsp;USD</p>
                                    </div>
                                </div>
                            </div>
                            <div style=\"display: flex; flex-wrap: wrap; margin-right: -0.75rem; margin-left: -0.75rem;
                                padding-top: 12px;\" class=\"css-s8u2ug-row\">
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(97, 97, 97); font-family: PayPalOpen-Regular,
                                        &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 0.875rem; line-height:
                                        1.25rem; font-weight: 400; float: left;\" class=\"css-151vsl0-text_caption\">
                                        <p>Total</p>
                                    </div>
                                </div>
                                <div style=\"position: relative; width: 250.422px; min-height: 1px; padding-right:
                                    0.75rem; padding-left: 0.75rem; flex-basis: 0px; -webkit-box-flex: 1; flex-grow: 1;
                                    max-width: 100%;\" class=\"css-1nhh7rf-col\">
                                    <div style=\"color: rgb(0, 20, 53); font-family: PayPalOpen-Regular, &quot;Helvetica
                                        Neue&quot;, Arial, sans-serif; font-size: 1.125rem; line-height: 1.5rem;
                                        font-weight: 400; float: right;\" class=\"css-16jt5za-text_body\">
                                        <p>$272.50&nbsp;USD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>